extends ../layout 
block content
  .bg-white
    .max-w-5xl.mx-auto.py-12.px-4(class='flex flex-col items-center')
      h2.profile-username(class='text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl') Profil bearbeiten
      span(class="mb-6 mt-8 inline-block h-28 w-28 rounded-full overflow-hidden bg-gray-100")
        svg(class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24")
          path(d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z")
      a(class="text-indigo-600 underline mb-1" href="#") Foto hochladen
      //- a(class="text-red-500 underline" href=`/delete`) Account löschen

    .max-w-3xl.mx-auto(class='flex flex-col bg-white')
      .text-gray-500.p-10.pt-0.rounded
        form#user-profile-form
          label(for="username" class="block mb-3 ml-2") Benutzername
          input(name="username" class="w-full h-12 px-4 mb-2 text-lg text-gray-500 placeholder-gray-300 border rounded-lg focus:shadow-outline" type="text" placeholder="Benutzername" value=user.username required)
          //- label(class="block mt-5 mb-3 ml-2" for="forms-labelOverInputCode") Nachname
          //- input(class="w-full h-12 px-4 mb-2 text-lg text-gray-500 placeholder-gray-300 border rounded-lg focus:shadow-outline" type="text" placeholder="Nachname")
          label(for="bio" class="block mt-5 mb-3 ml-2") Über mich
          textarea(name="bio" class="w-full h-32 px-3 py-2 text-lg text-gray-500 placeholder-gray-300 border rounded-lg focus:shadow-outline" placeholder="Erzähle etwas über dich")= user.bio
          label(for="city" class="block mt-5 mb-3 ml-2" f) Stadt
          input(name="city" class="w-full h-12 px-4 mb-2 text-lg text-gray-500 placeholder-gray-300 border rounded-lg focus:shadow-outline" type="text" placeholder="Stadt" value=user.city)
          
          div(class="mt-3 relative inline-block w-64 text-gray-500")
            - var selectFields = ["Deutschland", "Frankreich"]; 
            select(name="country" class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-300 border rounded-lg appearance-none focus:shadow-outline" placeholder="Regular input")
              each val of selectFields
                if (val === user.country)
                  option(selected)= val
                else
                  option= val

            div(class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none")
              svg(class="w-4 h-4 fill-current" viewBox="0 0 20 20")
                path(d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd")
        
          .mt-10.flex.items-center.gap-7
            button(type="submit" class="btn-submit inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" href="#") Speichern
            a(href="/me")
              p(class="underline text-indigo-600 text-lg") Abbrechen
            
block scripts
  <script src="/main.js"></script>